/*--------------------------------------------------------------
Styles
--------------------------------------------------------------*/

/* Fonts */
:root {
  --body-font: 'Lato', sans-serif;
}

/* Bootstrap Override */
body {
  --bs-font-sans-serif: 'Lato', sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 2;
  --bs-body-color: #41403E;
  --bs-primary: #051d40;
  --bs-primary-rgb: 5, 29, 64;
  --bs-border-color: #eeeeee;
  
}

